body{
  background-color: #f7f1f1;
  background-image: url("../../images/background.jpg");
  height:700px;
  width:1349px;
  background-attachment: fixed;
}

#Page{
  margin-top: 140px;
  display: flex;
  width: 50%;
  flex-direction: row;
  flex-wrap: wrap;
 
  /* justify-content: left; */
}
.card-container{
  margin: 10px 20px;

  border: 2px solid black;
  padding: 40px;
  box-shadow: black 3px 3px 3px;
}
.card-container:hover{
  border: 2px solid black;
  padding: 40px;
  background-color: black;
  box-shadow: rgb(92, 178, 253) 1px 1px 3px;
  color: wheat;
}