<!DOCTYPE html>
<html lang="en">
  <%- include('../layout/head') %>

<body>
  <img style="position: absolute; z-index: -10; height:700px; width:1349px; " src="../../imgSam/44.png" alt="">
  <%- include('../layout/header') %>
<main style="height: 480px;margin-top: 70px;">    
  <form action="/saved" method="GET">
    <button type="submit">saved recipes</button>
  </form>
  <form action="/savedOption" method="GET">
    <button type="submit">saved</button>
  </form>

  <h1>Hello <%= username1 %></h1>
  <form action="logout" method="POST">
    <input type="submit" value="Logout">
  </form>
  </main>
  <%- include('../layout/footer') %>

</body>
</html>