<!DOCTYPE html>
<html lang="en">
  <%- include('../layout/head') %>

<body>
  <%- include('../layout/header') %>
<main>

  <form action="/saved" method="GET">
    <button type="submit">saved recipes</button>
  </form>
  <form action="/savedOption" method="GET">
    <button type="submit">saved</button>
  </form>

  <h1>Hello <%= username1 %></h1>
  <form action="logout" method="POST">
    <input type="submit" value="Logout">
  </form>
  </main>
  <%- include('../layout/footer') %>

</body>
</html>