<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="../movies.css">
  ​
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
   <link rel="icon" href="logoused.ico" type="image/x-icon">
    <!-- style -->
    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" href="styles/home.css">
    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/a24ea374e8.js" crossorigin="anonymous"></script>
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
  <style>

  </style>
  <script id="templateCard" type='text/x-templ-mustache'>
    <figure class="card">
      <img src="{{image_url}}" alt="{{title}}">
      <figcaption style="text-shadow: 1px 1px 2px black;">{{title}}</figcaption>
    </figure>
    </script>
</head>

<body>
  <header class="top-navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="images/logo.png" alt="" />
            </a>
            <div class="collapse">
                <ul class="navbar-nav">
                    <li class="nav-item active"><a class="nav-link" href="home.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/searches">Search</a></li>
                    <!-- <li class="nav-item"><a class="nav-link" href="">Recipe</a></li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="/movieta" data-toggle="dropdown">Movieta</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/aboutus.html" id="dropdown-a">About</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/contact-us.html">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

  <div class="login-form" style="margin: 150px auto 0 auto; width: 10%;">
    <h1>Movieta Search</h1>
    <form action="#">
      <input type="text" name="username" placeholder="Search For" required>
      <button style="visibility: hidden;">Search</button>
    </form>
  </div>
  <div id="output"></div>
  <div class="wrapper">
    <div class="cards">
    </div>
  </div>

  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/4.1.0/mustache.min.js"></script>

  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="./js/movies.js"></script>
</body>

</html>
​