<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="../movies.css">
​
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
 
  </style>
  <script id="templateCard" type='text/x-templ-mustache'>
    <figure class="card">
      <img src="{{image_url}}" alt="{{title}}">
      <figcaption style="text-shadow: 1px 1px 2px black;">{{title}}</figcaption>
    </figure>
    </script>
</head>
<body>


  <div class="login-form">
    <h1>Movieta Search</h1>
    <form action="#">
      <input type="text" name="username" placeholder="Search For" required>
    </form>
    <button>Search</button> 
  </div>
  <div id="output"></div> 
  <div class="wrapper">
    <div class="cards">
    </div>
    </div>

  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/4.1.0/mustache.min.js"></script>

  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="./js/movies.js"></script>
</body>
</html>
​
