<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main>
        <div class=recipeDiv>
            <p>Search for any Recipe</p>
            <form class="recipeForm" action="/recipeSearch" method="POST">
                <input type="text" name="recipeSearch">
                <button style="visibility: hidden;" type="submit">Search</button>
            </form>
        </div>

        <form action="#">
            <div class=recipeDiv>
                <p>max calories you need in meal, will tell you some cool recipe</p>
                <form class="caloriesForm" action="/caloriesMeal" method="POST">
                    <input type="text" name="caloriesSearch">
                    <button style="visibility: hidden;" type="submit">Search</button>
                </form>
            </div>
        
            <div class=recipeDiv>
                <p>Maximum number of calories you need in a day, get some great recipes for three meals a day with the same number of calories you chose</p>
                <form class="caloriesDayForm" action="/caloriesForDay" method="POST">
                    <input type="text" name="caloriesDaySearch">
                    <button  style="visibility: hidden;" type="submit">Search</button>
                </form>
            </div>
        
            <div class=exclude>
                <p>Exclude the ingredient that causes you sensitivity OR YOu dont like it </p>
                <form class="execludeForm" action="/execlude" method="POST">
                    <input type="text" name="execludeItem">
                    <button style="visibility: hidden;" type="submit">Find</button>
                </form>
            </div>
        
            <div class=include>
                <p>Include the ingredient that You like it </p>
                <form class="includeForm" action="/include" method="POST">
                    <input type="text" name="includeItem">
                    <button style="visibility: hidden;" type="submit">Find</button>
                </form>
            </div>
        </form>
    </main>
</body>

</html>