:root{
    --darkblue:#2c2d31;
    --darkyello:#fcbc40;
    --darkgrey:#282828;
    --white:#f8f9fa;
    --black:#000002;
    --font:'Montserrat', sans-serif;
}
html {
    max-width: 1349xp;
    min-height: 900px;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
  }
 
  
  body {
    height: 100%;
    width: 100%;
    display: table;
    margin: 0 auto;
  }

a {
    color: #1f1f1f;
    text-decoration: none;
    outline: none;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    font-size: 15px;
}

.btn-custom {
    margin-top: 20px;
    background-color: transparent !important;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
}



ul, li, ol{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
button:focus{
	outline: none;
}

.form-control::-moz-placeholder {
    color: #2a2a2a;
    opacity: 1;
}


    /* ///////////////////////// HEADER ///////////////////////////// */
 header{
   display: table-row;
  width: 100%;
 height: 100px;
 min-height: 900px;


 }
.container{
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-items: center;
  align-items: center;
  z-index: 100;
  
}
.navbar-nav{
      display: grid;
      grid-template-columns: repeat(6,0.9fr);
      justify-items:center;
      align-items: center;
      text-align: center;
}
.navbar-brand img{
    width: 150px;
}
.top-navbar{
	position: relative;
	z-index: 40;
}

.top-navbar .navbar{
	padding: 15px 0px;
	position: fixed;
	width: 100%;
    background-color: var(--white);
	border-radius: 0px 0px 100px 100px;
	transition: height .3s ease-out, background .3s ease-out, box-shadow .3s ease-out;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
	box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
	z-index: 100;
}

.top-navbar .navbar-light .navbar-nav .nav-link{
	color: #010101;
	font-size: 15px;
	padding: 10px 20px;
    font-weight: bold;
	border-radius: 4px;
	text-transform: uppercase;
    font-family: var(--font);
}

.top-navbar .navbar-light .navbar-nav .nav-item .nav-link:hover{
	background:var(--darkyello);
	color: var(--white);
}
.top-navbar .navbar-light .navbar-nav .nav-item.active .nav-link{
	background: var(--darkyello);
	color: var(--white);
	border-radius: 4px;
}

/* /////////////////////Slider////////////////////////// */

main{
    display: table-row;
    height: 100%;
    margin: 0 auto;
  }
.slider, .slider1, .slider2, .slider3{
   width : 100%;
   height: 700px;
   position: absolute;
   margin-top: -100px
  }
.slideimg{
    width: 100%;
    height: 600px;
    position: absolute;
    animation: fade-in 3s linear infinite ;
    box-shadow: rgb(6 24 44 / 40%) 0px 5px 6px 4px,
    rgb(6 24 44 / 65%) 0px 0px 8px -6px;

}

.textbox{
    color: var(--white);
    position: relative;
    top: 20%;
    width:40%;
    height:150px;
    align-items: center;
    border-radius: 10px;
    background-color: var(--darkgrey);
    opacity: 0.5;
    font-weight:100;  
}
.textbox h2 {
    position: absolute;
    top: 30%;
    left: 2%;
    font-family: var(--font);
    text-align: left;  
    font-size: 25px;
}
.textbox p{
    position: absolute;
    top: 70%;
    left: 70%;
    font-family: var(--font);
    font-size: 15px;
}
.slider{
    animation:slide 16s linear infinite;
}
.slider1{
    animation:slide1 16s linear infinite;
}
.slider2{
    animation:slide2 16s linear infinite;
}
.slider3{
    animation:slide3 16s linear infinite;
}
@keyframes slide{
    0%{
        visibility: visible;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }
}
@keyframes slide1{
    0%{
        visibility: hidden;
    }
    25%{
        visibility: visible;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: hidden;
    }
}
@keyframes slide2{
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: visible;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: hidden;
    }
}
@keyframes slide3{
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }
}
.btn-in a{
    background: var(--darkyello);
	border-radius: 4px;
    padding: 10px 25px;
    position: absolute;
    left: 18%;
    top: 200px;
    font-family: var(--font);
    font-weight: 100;
    color: var(--white);
}
.btn-in a:hover{
    padding: 15px 30px 15px 30px;
    font-weight: bold;
}

/* /////////////salad//////////  */
.salad{
    /* margin-top: 130px; */
    position: relative;
    top:90%;
    width: 100%;
    height: 600px;
}
.salad img{
    position: absolute;
    left: 70%;
    top: 10%;
    width: 25%;
    z-index: 10;
}
.salad-back{
    width: 60%;
    height: 100%;
    position: absolute;
    left: 24%;
    box-sizing: border-box;
    background-color: var(--darkyello);
}
.saladdesc{
    width: 45%;
    height: 60%;
    position: absolute;
    left: 13%;
    top: 28%;
    box-sizing: border-box;
    border: 3px solid var(--darkgrey);
    box-shadow: rgb(6 24 44 / 40%) 0px 5px 6px 4px,
    rgb(6 24 44 / 65%) 0px 0px 8px -6px;
    display: grid;
    grid-template-rows: 1fr 2fr;
    justify-items: center;
    background-color: var(--white);

}
.saladdesc h2{
    margin-top: 20px;
    font-size: 50px;
    font-family: var(--font);
    color: var(--darkgrey);
    font-weight: bold;

}
.saladdesc p{
    font-size: 20px;
    font-family: var(--font);
    color: var(--darkgrey);
    font-weight: 100;
    margin-left: 10px;
}
.saladdesc button a{
   position: absolute;
   top: 70%;
   left: 35%;
   
}