body {
  display: table;
    font-family: "Raleway", cursive;
    background: url("../images/searchrecipe.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
    font-size: 20px;
    margin: 0 auto;
    width: 100%;
    height: 1000px;
  }
/*   
  .navbar-inverse {
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: none;
  }
  
  .navbar .navbar-brand {
    color: #fff;
    font-weight: bold;
  }
  
  .jumbotron, .breadcrumb {
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
  }
  .jumbotron .panel, .breadcrumb .panel {
    color: rgb(255, 255, 255);
  }
  
  .btn-primary {
    background-color: forestgreen;
    border: none;
  } */
  /* main{
    width: 80%;
    /* margin: 0 auto; */
    /* box-sizing: border-box; }*/
  .basediv{
    height: 90%;
    width: 60%;
    margin:auto;
  }