<footer >
    <p>Copy rights are reserved by AMIGOS &copy;</p>
    <ul class="footerli">
        <li> <a href="https://www.yahoo.com"><i class="fas fa-envelope-square fig"></i></a></li>
        <li> <a href="https://www.twitter.com"><i class="fab fa-twitter fig"></i></a></li>
        <li> <a href="https://www.github.com"><i class="fab fa-github-alt fig"></i></a></li>
        <li> <a href="https://www.linkedin.com"><i class="fab fa-linkedin fig"></i></a></li>
    </ul>
</footer>